body {
  background-image: url("https://wallpaperaccess.com/full/8738938.jpg");
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#findOut,
#analysisDetails,
#formLabel,
#getResults,
#h2results {
  --hue: 110deg;
  --saturation: 38%;
  --fill: hwb(var(--hue) var(--saturation) 2%);
  --text: hwb(var(--hue) calc(var(--saturation) - 20%) 40%);
  --border: hwb(var(--hue) var(--saturation) -10%);

  position: relative;
  background: radial-gradient(
      farthest-corner at bottom center,
      rgba(255, 255, 255, 0.7),
      transparent
    ),
    linear-gradient(to bottom, rgb(104 0 235 / 20%), rgb(80 118 255 / 10%));

  background-color: var(--fill);
  color: var(--text);

  border: 0.2px solid var(--border);
  box-shadow: 0 2px 3px 0px hwb(var(--hue) 30% 21%);
  border-radius: 0.8em;

  padding: 10px;

  text-align: center;
}

#domainForm {
  font-size: 23px;
}

#domainSubmitted {
  height: 30px;
  width: 400px;
}

button.aero {
  --saturation: 38%;
  --hue: 260deg;
  --fill: hwb(var(--hue) var(--saturation) 2%);
  --text: hwb(var(--hue) calc(var(--saturation) - 20%) 40%);
  --border: hwb(var(--hue) var(--saturation) -10%);
  padding: 0.5em 1.2em;
  position: relative;
  border: none;
  font-size: 1.1em;
  border-radius: 0.5em;
  background: radial-gradient(
      farthest-corner at bottom center,
      rgba(255, 255, 255, 0.7),
      transparent
    ),
    linear-gradient(to bottom, rgb(104 0 235 / 20%), rgb(80 118 255 / 10%));
  background-color: var(--fill);
  color: var(--text);
  cursor: pointer;
  border: 0.2px solid var(--border);
  box-shadow: 0 2px 3px 0px hwb(var(--hue) 30% 21%);
  transition: background-color 300ms ease, box-shadow 300ms ease,
    transform 100ms ease;
}

button.aero.color-green {
  --hue: 110deg;
}

button.aero::after {
  --gap: min(2%, 1.8px);
  content: "";
  position: absolute;
  top: calc(var(--gap) * 1.5);
  left: var(--gap);
  width: calc(100% - (var(--gap) * 2));
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: calc(0.5em - 1px);
  transition: 200ms;
  pointer-events: none;
}

button.aero:hover {
  --saturation: 60%;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
}

button.aero:hover::after {
  height: 30%;
}

button.aero:active::after {
  height: 40%;
  transition: 0ms;
}

button.aero:active {
  transform: scale(0.96);
  transition: transform 0ms;
}

/* BUTTON STYLES END */

/* SELECT STYLES START */

.aero-select {
  --saturation: 50%;
  --hue: 190deg;
  --fill: hwb(var(--hue) var(--saturation) 2%);
  --text: hwb(var(--hue) calc(var(--saturation) - 20%) 40%);
  --border: hwb(var(--hue) var(--saturation) -10%);

  width: fit-content;
  position: relative;
}

.aero-select::before {
  --gap: max(2%, 1.8px);
  content: "";
  position: absolute;
  top: calc(var(--gap) * 1.5);
  left: var(--gap);
  width: calc(100% - (var(--gap) * 2));
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: calc(0.5em - 1px);
  transition: 200ms;
  pointer-events: none;
}

.aero-select::after {
  content: "";
  display: block;
  position: absolute;
  right: 0.3em;
  bottom: calc(50% - 0.75rem);
  height: 1.5rem;
  width: 1.5rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    transparent,
    var(--fill)
  );
  background-color: #ffffff31;
  border-radius: 50px;
  pointer-events: none;
  box-shadow: 0 1px 3px 0px hwb(var(--hue) 30% 21%);
}

.aero-select .arrow::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(0.1em + 10px);
  bottom: calc(50% - 8px);
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top: 5px solid var(--text);
  z-index: 10;
}

.aero-select select {
  margin: 0;
  background: radial-gradient(
      farthest-corner at bottom center,
      rgba(255, 255, 255, 0.7),
      transparent
    ),
    linear-gradient(to bottom, rgb(104 0 235 / 20%), rgb(80 118 255 / 10%));
  background-color: var(--fill);
  color: var(--text);
  font-size: 1.02em;
  border-radius: 0.5em;

  padding: 0.4em 1em;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 0px solid var(--border);
  box-shadow: 0 2px 3px 0px hwb(var(--hue) 30% 21%);
  transition: background-color 300ms ease, box-shadow 300ms ease,
    transform 100ms ease;
}

.aero-select select:focus {
  outline: none;
}

.aero-select select:hover {
  --saturation: 60%;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.3);
}
